<div class = "browse-column">
  <div class = 'home-sidebar'>
    <ul class ='game-types'>
      <li>
        <div class = "wow">
        </div>
        World of Warcraft
      </li>
      <li>
        <div class = "ow">
        </div>
        OverWatch
      </li>
      <li>
        <div class = "D">
        </div>
        Diablo III
      </li>
      <li>
        <div class = "hs">
        </div>
        HearthStone
      </li>
      <li>
        <div class = "hots">
        </div>
        Heroes of the Storm
      </li>
      <li>
        <div class = "sc">
        </div>
        StarCraft II
      </li>
      <li>
        <div class = "cg">
        </div>
        Classic games
      </li>
      <li>
        <div class = "as">
        </div>
        Account Servies
      </li>

    </ul>
  </div>
</div>
