<div class="navBar">
  <div class = "imageDiv">
  </div>
  <div class=navItems>
    <div class='games'>
      GAMES
    </div>
    <div class='shop'>
      SHOP
    </div>
    <div class='esports'>
      ESPORTS
    </div>
  </div>

  <div class = "profileItems">
    <div class="support">
      Support
    </div>
    <div class="account">
      My Account
    </div>

  </div>
</div>
<div class = "navSearchBar">
  <div class ='breadCrumb'>
    <div class ='homeIcon'>
    </div>
    shop
  </div>
  <div class="searchBar">
  </div> 
</div>
