<div class="navBar">
  <div class = "imageDiv">
  </div>
  <div class=navItems>
    <div class='games'>
      GAMES
    </div>
    <div class='shop' ui-sref = "home">
      SHOP
    </div>
    <div class='esports'>
      ESPORTS
    </div>
  </div>

  <div class = "profileItems">
    <div class="support">
    <!-- <a href="https://us.battle.net/support/en/"> --> Support 
    <!-- </a>  -->
    </div>
    <div class="account">
      My Account
    </div>

  </div>
</div>
<div class = "navSearchBar">
  <div class ='breadCrumb'>
    <div class ='homeIcon'>
    </div>
    shop
  </div>
  <div class="searchBar">
  </div>
</div>
